{% extends 'base.html.twig' %}

{% block title %}Edit score{% endblock %}

{% block body %}
    <h1>Edit Encounter set {{ encounter_set_result.number }}</h1>

    {{ include('encounter_set_result/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_encounter_show', {'id': encounter_set_result.encounter.id}) }}">retour sur la rencontre</a>

    {{ include('encounter_set_result/_delete_form.html.twig') }}
{% endblock %}
