<div data-controller="tournament" data-tournament-encounters-value="{{ encounters|serialize('json', {'groups': 'list_encounter'}) }}">
    <button>Test</button>
    <button data-action="tournament#generate">Generate!</button>
    <div data-tournament-target="result">data change</div>
</div>